<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Entry Login</title>
    <style>
        button{
            width: 150px;
            height: 150px;
        }
        a{
            text-decoration: none;
            font-size: 15px;
        }
    </style>
</head>
<body>
{#Welcome {{ user }},#}
<a href="/">logout</a>
<center>
    <div style="margin-top: 150px">
        <table>
            <tr>
                <td>
                    <button><a href="/home/">Due view</a></button>
                </td>
                <td>
                    <button><a href="/paid_amount_add/">Entry view</a></button>
                </td>
            </tr>
        </table>
{#        <h2>Entry Login</h2><br><br><br>#}
{#        <form action="/entry_login/" method="post">#}
{#            {% csrf_token %}#}
{#            <input type="text" name="name" placeholder="enter name"><br><br>#}
{#            <input type="submit" value="login"><br><br>#}
{#        </form>#}

    </div>
</center>
</body>
</html>